*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	// --orange: hsl(14, 100%, 64%);
	// --pink: hsl(337, 72%, 57%);
	// --background: hsl(233, 57%, 9%);
	--orange: hsl(39, 100%, 64%);
	--blue: #21bab5;
	--pink: hsl(330, 88%, 55%);
	--background: hsl(202, 85%, 8%);
}