*,
*::before,
*::after {
	box-sizing: border-box;
	font-weight: 300;
}

:root {
	--orange: hsl(39, 100%, 64%);
	--blue: hsl(178, 70%, 43%);
	--pink: hsl(330, 88%, 55%);
	--background: hsl(202, 85%, 8%);
}